.user-info{
	padding: 10px 20%;
	display: flex;
	justify-content: space-around;
	background-color: #fff;
}
.user-info img{
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
}
.info h5{
	color: #000;
	font-weight: bold;
}
.info p{
	color: #333;
}
.approve{
	display: inline-block;
	color: #e9a74c;
	border: 1px solid #e9a74c;
	font-size: 10px;
}
.mainwrap{
	padding: 20px 0;
	margin: 2px 0;
	background-color: #fff;
}
.starwrap{
	position: relative;
	margin: 10px auto;
	width: 170px;
	height: 30px;
}
.starwrap>div{
	height: 30px;
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
}
.red{
	width:0;
}
.adlist{
	padding: 0;
	width: 80%;
	margin: 30px auto;
	list-style: none;
}
.adlist li{
	float: left;
	margin:0.2rem 0.3rem ;
	padding: 0 10px;
	font-size: 13px;
	border-radius: 12px;
	color: #cbcbcb;
	border: 1px solid #cbcbcb;
}
.adlist li.active{
	color: #000;
	border: 1px solid #000;
}
.button-wrap{
	padding: 15px 0;
	background-color: #fff;
}
.button-wrap button{
	display:block;
	width: 90%;
	margin: 0 auto;
}

